*.swp
.htaccess
.htaccess.sample
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
__stuff/
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
app/*
!app/code
app/code/*
!app/code/local
app/code/local/*
!app/code/local/TheSocialDigits
!app/design
app/design/*
!app/design/frontend
app/design/frontend/*
!app/design/frontend/default
app/design/frontend/default/*
!app/design/frontend/default/default
errors/
lib/
js/*
!js/thesocialdigits-js
mage
media/
pkginfo/
shell/
var/cache/
var/locks/
var/package/
var/session
skin/*
!skin/frontend
skin/frontend/*
!skin/frontend/default
skin/frontend/default/*
!skin/frontend/default/default
includes/
downloader/
php.ini.sample
