<?xml version="1.0" ?>
<config>
  <global>
    <modules>
      <TheSocialDigits_Recommendations>
        <version>0.1.0</version>
      </TheSocialDigits_Recommendations>
    </modules>
    <blocks>
      <recommendations>
        <rewrite>
          <recommendations>TheSocialDigits_Recommendations_Block_Recommendations</recommendations>
        </rewrite>
        <rewrite>
          <upsell>TheSocialDigits_Recommendations_Block_Upsell</upsell>
        </rewrite>
        <rewrite>
          <checkout_onepage_success>TheSocialDigits_Recommendations_Block_Checkout_Onepage_Success</checkout_onepage_success>
        </rewrite>
<rewrite>
          <checkout_multishipping_success>TheSocialDigits_Recommendations_Block_Checkout_Multishipping_Success</checkout_multishipping_success>
        </rewrite>
      </recommendations>
    </blocks>
    <helpers>
      <recommendations>
        <class>TheSocialDigits_Recommendations_Helper</class>
      </recommendations>
    </helpers>
    <models>
      <recommendations>
        <class>TheSocialDigits_Recommendations_Model</class>
      </recommendations>
    </models>
  </global>
  <frontend>
    <routers>
      <recommendations>
        <use>standard</use>
        <args>
          <module>TheSocialDigits_Recommendations</module>
          <frontName>recommendations</frontName>
        </args>
      </recommendations>
      <checkout>
        <args>
          <modules>
            <TheSocialDigits_Recommendations
            before="Mage_Checkout">TheSocialDigits_Recommendations</TheSocialDigits_Recommendations>
          </modules>
        </args>
      </checkout>
    </routers>
    <layout>
      <updates>
        <recommendations>
          <file>recommendations.xml</file>
        </recommendations>
      </updates>
    </layout> 
  </frontend>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <recommendations_options>
                      <title>The Social Digits Recommendations module settings</title>
                    </recommendations_options>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>    
  <default>
      <recommendations_options>
        <settings>
          <api_key>XBJbcxBuEuLTiJ8fjCn6cTnIxcFjYNNs</api_key>
          <language>english</language>
          <template>
          <div>
            <a href="/index.php/{product_url}">
              <img src="{thumbnail_url}" /><br/>
              {name}<br />
              {price},-
            </a>
          </div>
          </template>
          <ga_tracking>The SocialDigits</ga_tracking>
        </settings>
        <related>
          <active>1</active>
          <limit>10</limit>
          <exclude_cart>1</exclude_cart>
          <filter></filter>
          <navigation>0</navigation>
          <navigation_prev></navigation_prev>
          <navigation_next></navigation_next>
          <visible>0</visible>
          <step>0</step>
          <width>0</width>
          <height>0</height>
          <margin>0</margin>
          <auto>0</auto>
          <auto_interval>0</auto_interval>
          <transition_speed>0</transition_speed>
          <template></template>
        </related>
        <upsell>
          <active>1</active>
          <limit>0</limit>
          <exclude_cart>1</exclude_cart>
          <filter></filter>
          <visible>4</visible>
          <step>0</step>
          <navigation>1</navigation>
          <navigation_prev>1</navigation_prev>
          <navigation_next>1</navigation_next>
          <transition_speed>2000</transition_speed>
          <template><![CDATA[
<div>
  <a href="/index.php/{product_url}">
    <img src="{thumbnail_url}" /><br/>
    {name}<br />
    {price},-
  </a>
</div>]]></template>
          <width>115</width>
          <height>150</height>
          <margin>0</margin>
          <auto>1</auto>
          <auto_interval>0</auto_interval>
        </upsell>
      </recommendations_options>
    </default>
</config>
