<?xml version="1.0" ?>
<config>
  <global>
    <modules>
      <TheSocialDigits_Recommendations>
        <version>0.1.0</version>
      </TheSocialDigits_Recommendations>
    </modules>
    <default>
      <recommendations_options>
        <settings>
          <api_key></api_key>
          <language>english</language>
          <template>
          <div>
            <a href="/index.php/{product_url}">
              <img src="{thumbnail_url}" /><br/>
              {name}<br />
              {price},-
            </a>
          </div>
          </template>
        </settings>
      </recommendations_options>
    </default>
    <blocks>
      <recommendations>
        <rewrite>
          <recommendations>TheSocialDigits_Recommendations_Block_Recommendations</recommendations>
        </rewrite>
      </recommendations>
    </blocks>
    <helpers>
      <recommendations>
        <class>TheSocialDigits_Recommendations_Helper</class>
      </recommendations>
    </helpers>
    <models>
      <recommendations>
        <class>TheSocialDigits_Recommendations_Model</class>
      </recommendations>
    </models>
  </global>
  <frontend>
    <routers>
      <recommendations>
        <use>standard</use>
        <args>
          <module>TheSocialDigits_Recommendations</module>
          <frontName>recommendations</frontName>
        </args>
      </recommendations>
    </routers>
    <layout>
      <updates>
        <recommendations>
          <file>recommendations.xml</file>
        </recommendations>
      </updates>
    </layout> 
  </frontend>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <recommendations_options>
                      <title>The Social Digits Recommendations module settings</title>
                    </recommendations_options>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>
